<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales" translate="label" type="text" sortOrder="1400" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Message enable_desable</label>
            <tab>sales</tab>
<!--            <resource>SR_DeliveryDate::deliverydate</resource>-->
            <group id="messageonoff" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Message On Off</label>

                <field id="messageenable" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Massage</label>
<!--                    <comment>Set 'No' to prevent a map from being dragged.</comment>-->
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
